@model MusicStoreInfo.Domain.Entities.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создание</h1>

<h4>Продукт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label">Магазин</label>
                <select asp-for="StoreId" class ="form-control" asp-items="ViewBag.Stores"></select>
            </div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label">Альбом</label>
                <select asp-for="AlbumId" class ="form-control" asp-items="ViewBag.Albums"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateReceived" class="control-label">Дата поставки</label>
                <input asp-for="DateReceived" class="form-control" type="date"/>
                <span asp-validation-for="DateReceived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Количество</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
