@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Результаты поиска групп по количеству песен и диапазону дат";
}

<h2>Результаты поиска групп по количеству песен и диапазону дат</h2>

<table class="table">
    <thead>
        <tr>
            <th>Название группы</th>
            <th>Общее количество песен</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GroupName</td>
                <td>@item.TotalSongs</td>
            </tr>
        }
    </tbody>
</table>