@model IEnumerable<dynamic>

<h2>Альбомы, выбранной группы</h2>
<h4>Результаты симметричного внутреннего соединения с условием (GroupId)</h4>

<table class="table">
    <thead>
        <tr>
            <th>ID Альбома</th>
            <th>Название Альбома</th>
            <th>ID Группы</th>
            <th>Название Группы</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AlbumId</td>
                <td>@item.AlbumName</td>
                <td>@item.GroupId</td>
                <td>@item.GroupName</td>
            </tr>
        }
    </tbody>
</table>