@model IEnumerable<dynamic>

<h2>Альбомы выбранной компании</h2>
<h4>Результаты симметричного внутреннего соединения с условием (CompanyId)</h4>

<table class="table">
    <thead>
        <tr>
            <th>ID Альбома</th>
            <th>Название Альбома</th>
            <th>ID Компании</th>
            <th>Название Компании</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AlbumId</td>
                <td>@item.AlbumName</td>
                <td>@item.CompanyId</td>
                <td>@item.CompanyName</td>
            </tr>
        }
    </tbody>
</table>