@{
    ViewData["Title"] = "Симметричное внутреннее соединение с условием (По дате)";
}

<h2>Симметричное внутреннее соединение с условием (По дате)</h2>

<form asp-action="SymmetricInnerJoinWithCondition3" method="post">
    <div class="form-group">
        <label for="startDate">Дата начала:</label>
        <input type="date" class="form-control" id="startDate" name="startDate" required />
    </div>
    <div class="form-group">
        <label for="endDate">Дата окончания:</label>
        <input type="date" class="form-control" id="endDate" name="endDate" required />
    </div>
    <button type="submit" class="btn btn-primary">Выполнить отчет</button>
</form>