@model MusicStoreInfo.Domain.Entities.User

@{
    ViewData["Title"] = "EditUserStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Смена места работы пользователя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUserStore" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserName" />
            <input type="hidden" asp-for="PasswordHash" />
            <input type="hidden" asp-for="ImagePath" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="PhoneNumber" />
            <input type="hidden" asp-for="RoleId" />
            <input type="hidden" asp-for="ShoppingCart" />
            <input type="hidden" asp-for="ShoppingCartId" />
            <div class="form-group">
                <label asp-for="StoreId" class="control-label">Место работы</label>
                <select asp-for="StoreId" asp-items="ViewBag.Stores" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Вернуться назад</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

