@model MusicStoreInfo.Domain.Entities.User


<h1>Профиль</h1>
<div>
    <hr />
    <dl class="row">
        <dd>
            <img src="@("~/image/" + Model.ImagePath)" asp-append-version="true" width="150px" height="150px" class="rounded-circle" />
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Номер телефона
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.Id">Редактировать</a>
</div>
