@model MusicStoreInfo.Domain.Entities.Store

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создать</h1>

<h4>Магазины</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnershipTypeId" class="control-label">Тип собственности</label>
                <select asp-for="OwnershipTypeId" asp-items="ViewBag.OwnershipTypes" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label">Районы</label>
                <select asp-for="DistrictId" asp-items="ViewBag.Districts" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Номер телефона</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearOpened" class="control-label">Год открытия</label>
                <input asp-for="YearOpened" class="form-control" type="date" />
                <span asp-validation-for="YearOpened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
